 body{
  height: 100vh;
  margin: auto 0;
  background-color: #1f2833;
  box-sizing: border-box;
  
  
}
nav .navbar-nav li a{
  color: white !important;
  }
.nav-link{
  color: #fff;
}
a{
  color: #66fcf1;
}
.logo{
  border-radius: 35%;
}
.navbar{
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 2;

}
.tab-title{
  font-family: 'Titillium Web', sans-serif;
  color: #66fcf1;
  font-size: 25px;
  margin-left: 120px;
  margin-top: -50px;
}

#header-part{
  position: relative;
  margin-top: 80px;
  margin-bottom: 10px;
  height: 100%;
  background-color: #fff;
  background-size: cover;
  overflow:hidden;
  width: 120%;
  height: 650px;
  background: url(../images/header-image.png)no-repeat;
  background-size: cover;
 
}
.profiler{
  margin: auto;
  display: block;
  border: 7px solid #1f2833;
  border-radius: 50%;
}
#about-section{
  margin-top:0%;
  /* background: #45a29e; */
  height: 600px;


}
.about{
  text-align: center;
  font-size: 70px;
  font-family: 'Titillium Web', sans-serif;
  color: #fff;
  margin-top: 40px;

}

.bio-desc{
  margin: auto;
  text-align: center;
  font-size: 22px;
  color: #c5c6c7;
  width: 90%;
  font-family: 'Poppins' 'sans-serif';
  margin-top: 40px;
}
.intro-header{
  position: absolute;
  top: 18%;
  font-family: 'Titillium Web', sans-serif;
  color: #fff;
  font-size: 40px;
  width: 40%;
  text-align: left;
  margin-top: 210px;
  text-transform: uppercase;
  margin-left: 30px;
  text-shadow: 0 0  10px #000;
  margin-bottom: 100px;
}
.social-media{
 display: inline-block;
 margin: auto;
margin-left: 20%;
margin-top: 50px;
margin-bottom: 40px;

 }
  .instag{
   margin-right: 20px;
 }
 
 .facebook{
   margin-right: 20px;
   margin-left: 10px;
 }
 .twitter{
   margin-left: 10px;

 } 


 .tab-title{
  font-family: 'Titillium Web', sans-serif;
  color: #66fcf1;
  font-size: 25px;
  margin-left: 120px;
  margin-top: -50px;
}
.get-in-touch {
	cursor: pointer;
  position: absolute;
  top: 84%;
  margin-top: -15px;
  margin-left: 20px;
  margin-bottom: 40px;
	padding: 1rem 1.5rem;
	border-radius: 3.75rem;
	line-height: 2.5rem;
	font-size: 1.5rem;
	font-weight: 600;
	color: #fff;
	border: 1px solid #66fcf1;
	background-image: linear-gradient(-180deg, #3ec265 0%, #4bc970 100%);
	box-shadow: 0 1rem 1.25rem 0 rgba(34,189,81,0.50),
							0 -0.25rem 1.5rem rgba(62, 194, 101, 1) inset,
							0 0.75rem 0.5rem rgba(140,190,155, 0.4) inset,
							0 0.25rem 0.5rem 0 rgba(75, 201, 112, 1) inset;
}

.get-in-touch span {
	color: transparent;
	background-image: linear-gradient(0deg, #8cb 0%, #FEFAFD 100%);
	-webkit-background-clip: text;
	background-clip: text;
	filter: drop-shadow(0 2px 2px hsla(290, 100%, 20%, 1));
}

.get-in-touch::before {
	content: "";
	display: block;
	height: 0.25rem;
	position: absolute;
	top: 0.5rem;
	left: 50%;
	transform: translateX(-50%);
	width: calc(100% - 7.5rem);
	background: #fff;
	border-radius: 100%;
	
	opacity: 0.7;
	background-image: linear-gradient(-270deg, rgba(255,255,255,0.00) 0%, #FFFFFF 20%, #FFFFFF 80%, rgba(255,255,255,0.00) 100%);
}

.get-in-touch::after {
	content: "";
	display: block;
	height: 0.25rem;
	position: absolute;
	bottom: 0.75rem;
	left: 50%;
	transform: translateX(-50%);
	width: calc(100% - 7.5rem);
	background: #fff;
	border-radius: 100%;
	
	filter: blur(1px);
	opacity: 0.05;
	background-image: linear-gradient(-270deg, rgba(255,255,255,0.00) 0%, #FFFFFF 20%, #FFFFFF 80%, rgba(255,255,255,0.00) 100%);
}
 
.certs-service{
  margin-top: 150px;
  display: block;
  margin: auto;
  text-align: center;
}

.certs,
.services{
  font-size: 40px;
  margin-top: 40px;
  color: #fff;
  font-family: 'Titillium Web', sans-serif;
  margin-bottom: 90px;
}
.certs{
  margin-top: 140px;
}
.certs-un,
.services-un{
  font-size: 20px;
  color: #fff;
  margin-bottom: 20px;
}
.cert-list,
.service-list{
  margin-bottom: 20px;
}
.services{
  margin-top: 150px;
  margin-bottom: 40px;
}

.image-section{
  background: #FEFAFD;
  margin: auto;
}
.instagram-feed{
  margin-top: 180px;
  margin-bottom: 40px;
 
}
.insta{
  margin-left: 22px;
  margin-top: 40px;
  margin-right: -5px;
  display: inline-block;
}

.btn-insta{
  font-size: 18px;
  margin-left: 45px;

}
.follow{
  margin-left: 20px;
  font-family: 'Titillium Web', sans-serif;

}
.free-workout{
  
  background: #FEFAFD;
  margin: auto;
  display: block;
  margin-top: -20px;
}
.workout{
  text-align: center;
  width: 90%;
  height: auto;
  margin-top: 55px;
  margin-left: 5%;
}
.program{
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 20px;
  font-family: 'Titillium Web','sans-serif';
  font-size: 33px;
}
.workout-desc{
  font-family: 'Poppins', 'sans-serif';
  font-size: 18px;
  margin-left: 10px;
  margin-right: 10px;

}

.free-workout-btn{
  padding: 20px;
  padding-left: 40px;
  padding-right: 40px;
  font-size: 20px;
  margin-left: 150px;
  border-radius: 10%;
  background: orangered;
  color: #fff;
  font-weight: bold;
}
.display-5{
  color: #66fcf1;
  display: block;
  margin: auto;
  text-align: center;
  margin-bottom: 20px;
}
.social-media-f{
  display: inline-flex;
  margin: auto;
 margin-top: 30px;
  width: 400px;
  
}
.social-media-fs{
 
  margin-right: 20px;

}
.logo-f{
  display: block;
  margin: auto;
  margin-bottom: 20px;

}
.message-section{
  display: none;
}

/* media Queries */
@media (min-width: 438px){

  .social-media{
    margin-left: 35%;
  }

}

@media(min-width: 769px){
  #big-screen{
    
    position: relative;
    background: #1f2833;
    height: 510px;
    margin: auto;
    width: 100%;
    margin-bottom: 250px;
   
  }
 
  #header-part{
    background: url('../images/gaa-profle.png')no-repeat;
    background-size: cover;
    background-color: #66fcf1;
    mix-blend-mode: exclusion;
  }

  .intro-header{
    font-size: 50px;
    margin-bottom: 30px;
 
  }
  .profiler{
    position: absolute;
    top: 150%;
    left: 72%;
  }
  
  #about-section{
    width: 50%;
  }
  
  .certs-service{
    display: flex;
    flex-direction: row;
  }

  #certs-section{
    margin-top: 100px;
    width: 50%;
  }

  #service-section{
    margin-top: 100px;
    width: 50%;
  }
  .services{
    margin-top: 140px;
    
  }
  .services-un{
    padding-top: 50px;
  }

.instagram-feed{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  
}
.insta{
  width: 300px;
  height: 300px;
 
  display: inline-block;
}
.btn-insta{

  text-align: center;
}
.program{
  margin-left: 30px;
  margin-top: 15px;
}
.workout-desc{
  margin-top: 40px;
  margin-left: 40px;
  margin-right: 40px;
}
.free-workout-btn{
  margin-left: 500px;
}
.row,
    .col,
    .nav,
    small{
        display: flex;
        flex-flow: wrap;
        justify-content: center;
    }
.message-section{
  display: block;
  position: relative;
}
.message-here{
  color: #fff;
  font-size: 18px;
  position: absolute;
  margin-top: 260px;
  left: 75%;

}
.insta-msg-1{
  margin-right: 10px;
}
.insta-msg,
.mes-msg{
  display: inline-block;
  position: absolute;
  margin-top: 320px;
  margin-left: 68%;
 
}
.mes-msg{
  left: 15%;
}

 .insta-msg-btn,
 .fb-msg-btn
 {
  
   padding-left: 20px;
   padding-right: 20px;
   padding-top: 5px;
   padding-bottom: 5px;
   border-radius: 10px;
   font-size: 14px;
   font-family: 'Titillium Web', 'sans-serif';
 }

}
@media(min-width: 1024px){
  .free-workout{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .bigger-screen{
    display: block;
    width: 50%;
  }
  .program{
    margin-top: 50px;
  }
  .bigger-desc{
    display: block;
    width: 50%;
  }
  .free-workout-btn{
    margin-left: 50%;
  }
}